<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="G:/其他项目/Log/Inner.txt">
  <targets>
    <target name="Console" xsi:type="Console" />
    <target name="debug_file" xsi:type="File"
            fileName="G:/其他项目/Log/Debug.txt" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
    <target name="error_file" xsi:type="File"
            fileName="G:/其他项目/Log/error.txt" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
   
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Trace"  maxlevel="Debug" writeTo="debug_file" />
    <logger name="*" minlevel="Error" writeTo="error_file" />
  </rules>
</nlog>